.header {
  height: 50px;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  background-color: blueviolet;
  color: white;
}
.menu {
  display: flex;
  margin: 0 40px;
}
.menu>div {
  margin: 5px;
}
